#ignores for Unity from http://t-machine.org/index.php/2012/07/03/unity-git-source-control-a-basic-gitignore/
# and https://forum.unity3d.com/threads/89095-Unity3D-and-GIT-is-it-possible?s=b553a910527be7b3855fc69179ae5d0d

*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
Library/FailedAssetImports.txt
Library/cache/
Library/previews/
obj
Temp/
Library/assetDatabase3/
Library/AssetServerCacheV3
Library/BuildPlayer.prefs
Library/BuildSettings.asset
Library/EditorSettings.asset
Library/EditorUserBuildSettings.asset
Library/InspectorExpandedItems.asset
Library/MonoManager.asset
Library/QualitySettings.asset
Library/ScriptMapper
Library/TagManager.asset
Library/guidmapper
Library/metadata
Library/ScriptAssemblies/
Library/expandedItems
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
